CLOUDINARY_CLOUD_NAME=dk6ivhi6t
CLOUDINARY_API_KEY=559512844423742
CLOUDINARY_API_SECRET=IoD2cw9ypB3R7the0JIah0uyA44

SKIN_ANALYSIS_DATABASE_URL=postgresql+asyncpg://tdcosmetic:TPXuwGS57M1K7S44KFM8NNvPKQwYbKBp@dpg-d158dnnfte5s738trgb0-a.oregon-postgres.render.com/td_skin_ananlysis_db
